.everythingAbout {
  height: 100%;
  background: #fdfaf6;
  padding: 50px 2rem;
}

.titleAbout {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 3.5rem;
  font-weight: bold;
  color: #6b9080;
}

.namesAbout{
  padding: 15px 25px;
  margin-top: 40px;
  margin-bottom: 40px;
  border: unset;
  border-radius: 15px;
  color: #fff;
  z-index: 1;
  background: #6b9080;
  position: relative;
  font-weight: bold;
  font-size: 17px;
  -webkit-box-shadow: 4px 8px 19px -3px #bbbbbb;
  box-shadow: 4px 8px 19px -3px #bbbbbb;
  transition: all 250ms;
  overflow: hidden;
}

.names{
  outline: none;
  text-decoration: none;
  color: #fdfaf6;
}


.paragraphAbout {
  display: flex;
  margin: 70px;
  padding-top: 40px;
  padding-right: 25px;
  font-size: 20px;
  font-weight: 500;
  color: #a6a9b6;
}

.logoAbout {
  margin: 20px;
  width: 20%;
  height: 20%;
}

@media (min-width: 750px) {
  .logoAbout {
    width: 5%;
    height: 5%;
    margin-left: 30px;
  }

  .titleAbout {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
  }

  .namesAbout {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
  }

  .everythingAbout {
    height: 100%;
  }
}
