.everythingAbout {
  height: 100%;
}

.titleAbout {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.namesAbout {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  margin: 10px;
}

.paragraphAbout {
  display: flex;
  margin: 20px;
}

.logoAbout {
  margin: 20px;
  width: 20%;
  height: 20%;
}

@media (min-width: 750px) {
  .logoAbout {
    width: 5%;
    height: 5%;
    margin-left: 30px;
  }

  .titleAbout {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
  }

  .namesAbout {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
  }

  .everythingAbout {
    height: 100%;
  }
}
