.ordersContainer {
  display: flex;
  justify-content: center;
  margin: 20px;
  margin-top: 60px;
  gap: 30px;
}

.orderDetail {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -30px;
}

.all {
  width: 600px;
  box-shadow: 0 2px 20px #dddddd;
  padding: 20px;
  height: 700px;
  overflow-y: scroll;
  margin-top: 22px;
}

.detail {
  width: 600px;
  box-shadow: 0 2px 20px #dddddd;
  padding: 20px;
  text-align: center;
  margin-top: 20px;
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px 0;
}

.orders {
  border-bottom: solid 1px #ccc;
  padding: 10px 0;
  margin-left: 30px;
  margin-top: 5px;
}

.allOrders {
  display: flex;
  flex-direction: column;
}

.search {
  display: flex;
  gap: 250px;
}

.name {
  cursor: pointer;
  color: #2a528a; 
}

.data {
  color: #959595;
  font-size: 19px;
}
