.productsContainer {
  display: flex;
  justify-content: center;
  margin: 20px;
  gap: 30px;
}

.productDetail {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 11px;
}

.all {
  width: 600px;
  box-shadow: 0 2px 20px #dddddd;
  padding: 20px;
  height: 700px;
  overflow-y: scroll;
  margin-top: 22px;
}

.detail {
  width: 600px;
  box-shadow: 0 2px 20px #dddddd;
  padding: 20px;
  text-align: center;
  margin-top: 25px;
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px 0;
}

.products {
  display: flex;
  align-items: center;
  gap: 15px;
  border-bottom: solid 1px #ccc;
  margin-left: 30px;
  margin-top: 5px;
}

.productImg {
  object-fit: scale-down;
}

.allProducts {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search {
  display: flex;
  gap: 250px;
}

.name {
  cursor: pointer;
  color: #2a528a; 
}

.addTocart {
  width: 30%;
  padding: 15px 0;
}

.icon {
  margin: 6px;
  margin-left: 15px;
  margin-right: 5px;
  font-size: 16px;
  color: #2a528a;
  background: transparent;
}

.toolsBtn {
  gap: 20px;
  display: flex;
  flex-direction: row;
}

.toolsBtn button {
  display: flex;
  padding: 8px 20px;
  background: #fff;
  font-weight: 500;
  color: #92ba92;
  border-radius: 5px;
  border: 1px solid #92ba92;
}

.toolsBtn button:hover {
  color: #ffff;
  background: #a4c3b2;
}

.titles {
  color: #6b9080;
}

.select {
  color: #2a528a;
}


