.title {
    overflow: hidden;
    text-overflow: ellipsis;
}

.titleContainer {
    white-space: nowrap;
    width: 500px;
}

.container{
    display: flex;
    margin: 60px;
}

.price{
    display: flex;
    justify-content: center;
}
