.filter_sorter {
  height: 40rem;
  border: whitesmoke 1px solid;
  border-radius: 0px 20px 20px 0px;
  border-left: none;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.3fr 1.4fr 0.3fr;
  gap: 0px 0px;
  grid-template-areas:
    "sort"
    "categories"
    "refresh";
  grid-area: filter_sorter;
  margin: 15px 0 15px 0;
  padding-right: 10px;
  box-shadow: 0 4px 10px #aaaa;
}

.sort {
  justify-self: flex-start;
  align-self: center;
  grid-area: sort;
  margin-left: 8px;
}

.allBtn {
  margin: 8px 10px;
  justify-self: flex-start;
}

.categories {
  grid-area: categories;
  color: #6b9080;
}

.refresh {
  align-self: baseline;
  grid-area: refresh;
}
