.footer {
  background-color: #385170;
  padding-top: 8px;
}

.nav {
  display: flex;
  margin-left: 100px;
  margin-right: 100px;
  justify-content: space-between;
  align-items: center;
}

.paragraph {
  text-align: center;
  line-height: 1.3rem;
  transform: translateY(7px);
  color: rgb(255, 255, 255);
  width: 300px;
  font-size: 0.8rem;
}

.aboutus {
  display: inline-block;
  height: 3px;
  transform: translateY(-15px);
  text-decoration: none;
  color: #ffffff;
  transition: 0.2s;
}

.aboutus:hover {
  color: #fff2fe;
  text-shadow: 0 0 10px #fce8f3,
               0 0 20px #fce8f3,
               0 0 80px #fce8f3;
  transition-delay: 0.1s;
}

.logo{
  transition: 0.2s;
  font-size: 40px;
  color: black;
  margin-top: -14px;
}

.logo:hover{
  transform:scale(1.1);
  z-index: 2;
  color: white;
}

@media (max-width: 750px) {
  .nav {
    display: flex;
    justify-content: space-around;
    margin: 0;
    font-size: 0.8rem;
  }

  .paragraph {
    width: 200px;
    height: 80px;
    margin: 0;
  }

  .footer {
    height: auto;
    padding-bottom: 6px;
    background-color: #a4c3b2;
  }

  .aboutus {
    transform: translateY(-7px);
  }
}
