.btn {
  display: flex;
  align-self: start;
  padding-left: 25px;
}

.card {
  padding: 15px 35px;
  margin-bottom: 40px;
  border: unset;
  border-radius: 15px;
  color: #fff;
  z-index: 0;
  background: #749f82;
  position: relative;
  font-weight: bold;
  font-size: 17px;
  -webkit-box-shadow: 4px 8px 19px -3px #aaaa;
  box-shadow: 4px 8px 19px -3px #aaaa;
  transition: all 250ms;
  overflow: hidden;
}

.card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  border-radius: 15px;
  background-color: #212121;
  z-index: -1;
  -webkit-box-shadow: 4px 8px 19px -3px #aaaa;
  box-shadow: 4px 8px 19px -3px #aaaa;
  transition: all 250ms;
}

.card:hover {
  color: #749f82;
}

.card:hover::before {
  width: 100%;
}

.container_all {
  display: flex;
  margin: 30px;
  padding-top: 40px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 2rem;
  background: #f9f7f7;
  min-height: 100vh;
}

.text h1 {
  font-size: 3.8rem;
  font-weight: 700;
  color: #749f82;
}

.description {
  padding-top: 40px;
  padding-right: 25px;
  font-size: 1.5rem;
  font-weight: 500;
  color: #a9abb4;
}

.subDescription {
  padding-top: 12px;
  padding-right: 25px;
  font-size: 1.2rem;
  font-weight: 500;
  color: #b8b8b8;
}

.products {
  font-size: 1.3rem;
  color: #98b4a6;
}

.carousel {
  padding: 100px 0;
  background: #f9f7f7;
  text-align: center;
}

.carousel h2 {
  font-size: 3.5rem;
  font-weight: bold;
  color: #749f82;
  padding-bottom: 60px;
}

.carousel p {
  font-size: 1.5rem;
  font-weight: 500;
  color: #a9abb4;
  width: 650px;
  margin: 0 auto;
}

.mainImage {
  background: #f9f7f7;
  object-fit: scale-down;
}

@media (max-width: 750px) {
  .ImageContainer {
    width: 100%;
    height: 250px;
    display: flex;
    justify-content: center;
  }
  .mainImage {
    width: 100%;
    height: 100%;
  }
  .container .container_all .text {
    width: 100%;
  }
  .container {
    padding: 0;
  }
  .container_all {
    flex-wrap: wrap;
  }
  .text {
    text-align: justify;
  }
  .text h1 {
    font-size: 2.5rem;
    text-align: center;
  }
  .description {
    padding: 0;
    padding-top: 30px;
    font-size: 1.1rem;
    word-spacing: 3px;
  }
  .subDescription {
    padding-right: 0;
    font-size: 1rem;
  }
  .products {
    font-size: 1.1rem;
  }
  .carousel {
    padding: 30px 1.6rem;
  }
  .carousel p {
    width: 100%;
    font-size: 1.1rem;
    text-align: justify;
  }
  .carousel h2 {
    font-size: 2.5rem;
    padding-bottom: 30px;
  }
  .btn {
    align-self: center;
    width: 87%;
    padding-left: 0;
  }
  .card {
    width: 100%;
  }
  .stepsContainer {
    display: flex;
    flex-direction: column;
    margin: 100px auto;
  }
}

.stepsContainer {
  display: flex;
  justify-content: center;
  margin: 150px auto;
}
.animateContainer {
  animation-duration: 2s;
  animation-name: animate-container;
}

.animateText {
  animation-duration: 2s;
  animation-name: animate-text;
}

.catAnimated {
  animation-duration: 1.5s;
  animation-name: animate-cat;
}

@keyframes animate-cat {
  0% {
    opacity: 0;
    transition: all 3s;
    filter: blur(5px);
    animation-delay: 2s;
  }
  100% {
    opacity: 1;
    filter: blur(0);
  }
}

@keyframes animate-text {
  0% {
    opacity: 0;
    transition: all 5s;
    animation-delay: 2s;
  }
  100% {
    opacity: 1;
  }
}

@keyframes animate-container {
  0% {
    opacity: 0;
    transition: all 3s;
    filter: blur(5px);
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
  }
}
