.btn {
  display: flex;
  align-self: start;
  padding-left: 25px;
}

.card {
  padding: 15px 25px;
  margin-bottom: 40px;
  border: unset;
  border-radius: 15px;
  color: #fff;
  z-index: 1;
  background: #6b9080;
  position: relative;
  font-weight: bold;
  font-size: 17px;
  -webkit-box-shadow: 4px 8px 19px -3px #bbbbbb;
  box-shadow: 4px 8px 19px -3px #bbbbbb;
  transition: all 250ms;
  overflow: hidden;
}

.card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  border-radius: 15px;
  background-color: #212121;
  z-index: -1;
  -webkit-box-shadow: 4px 8px 19px -3px #bbbbbb;
  box-shadow: 4px 8px 19px -3px #bbbbbb;
  transition: all 250ms;
}

.card:hover {
  color: #a4c3b2;
}

.card:hover::before {
  width: 100%;
}

.container_all {
  display: flex;
  margin: 30px;
  padding-top: 40px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 2rem;
  background: #fdfaf6;
}

.text h1 {
  font-size: 3.5rem;
  font-weight: bold;
  color: #6b9080;
}

.description {
  padding-top: 40px;
  padding-right: 25px;
  font-size: 1.5rem;
  font-weight: 500;
  color: #a6a9b6;
}

.subDescription {
  padding-top: 12px;
  padding-right: 25px;
  font-size: 1.2rem;
  font-weight: 500;
  color: #bbbbbb;
}

.products {
  font-size: 1.3rem;
  color: #a4c3b2;
}

.carousel {
  padding: 100px 0;
  background: #fffdf9;
  text-align: center;
}

.carousel h2 {
  font-size: 3.5rem;
  font-weight: bold;
  color: #6b9080;
  padding-bottom: 60px;
}

.carousel p {
  font-size: 1.7rem;
  font-weight: 500;
  color: #a6a9b6;
  width: 650px;
  margin: 0 auto;
}


@media (max-width: 750px) {
  .ImageContainer {
    width: 100%;
    height: 250px;
    display: flex;
    justify-content: center;
  }
  .mainImage {
    width: 100%;
    height: 100%;
  }
  .container .container_all .text {
    width: 100%;
  }
  .container {
    padding: 0;
  }
  .container_all {
    flex-wrap: wrap;
  }
  .text {
    text-align: justify;
  }
  .text h1 {
    font-size: 2.5rem;
    text-align: center;
  }
  .description {
    padding: 0;
    padding-top: 30px;
    font-size: 1.1rem;
    word-spacing: 3px;
  }
  .subDescription {
    padding-right: 0;
    font-size: 1rem;
  }
  .products {
    font-size: 1.1rem;
  }
  .carousel {
    padding: 30px 1.6rem;
  }
  .carousel p {
    width: 100%;
    font-size: 1.1rem;
    text-align: justify;
  }
  .carousel h2 {
    font-size: 2.5rem;
    padding-bottom: 30px;
  }
  .btn {
    align-self: center;
    width: 87%;
    padding-left: 0;
  }
  .card {
    width: 100%;
  }
  .stepsContainer {
    display: flex;
    flex-direction: column;
    margin-right: 5%!important ;
  }
}

.stepsContainer {
  display: flex;
  justify-content: center;
  margin: 8% auto;
}

