.navbar {
  display: flex;
  padding: 8px 16px;
  justify-content: space-between;
  align-items: center;
  background-color: #d3dfd9;
}

.nav__menu_bar {
  display: flex;
  flex-direction: column;
  row-gap: 6px;
  cursor: pointer;
}

.nav__menu_bar div {
  width: 40px;
  height: 4px;
  background-color: black;
  border-radius: 2px;
}
.a_pointer {
  cursor: pointer;
}

.nav__menu_list {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 60px;
  width: 288px;
  row-gap: 24px;
  right: -288px;
  padding: 24px 16px;
  transition: all 0.2s;
  min-height: calc(100vh - 60px);
  background-color: #d3dfd9;
}

.nav__menu_list_active {
  right: 0;
}

.nav__link {
  font-size: 18px;
  position: relative;
  transition: all 0.2s;
}

.nav__link:hover {
  font-weight: bold;
}

.center {
  min-height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttons {
  display: flex;
  justify-content: space-around;
  padding: 20px 0;
  gap: 15px;
}

.signOutBtn {
  padding: 5px 15px;
}

.userDetailsBtn {
  padding: 5px 15px;
  background: transparent;
}

.profilePicture {
  border-radius: 100px;
  margin: 10px;
  border: 6px solid #d3dfd9;
}

.cart {
  display: flex;
  align-items: center;
}

.cartButton {
  border: none;
  background-color: #d3dfd9;
}

.cartLogo {
  font-size: 30px;
}

.cartCounter {
  border-radius: 100px;
  height: 25px;
  background-color: white;
  padding: 4px 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  color: #6b9080;
  font-weight: 500;
}

@media screen and (min-width: 750px) {
  .nav__menu_bar {
    display: none;
  }

  .nav__menu_list {
    position: unset;
    flex-direction: row;
    min-height: fit-content;
    width: fit-content;
    column-gap: 24px;
    align-items: center;
  }

  .nav__link::before {
    content: "";
    position: absolute;
    width: 0%;
    height: 6px;
    bottom: -16px;
    left: 0;
    background-color: black;
    transition: all 0.2s;
  }

  .nav__link:hover:before {
    width: 100%;
  }
}
