.imgUpload {
    width: 400px;
    height: 400px;
    margin: 10px;
}

.backBtn {
    font-size: 25px;
    margin-top: 10px;
    margin-left: 25px;
    cursor: pointer;
}
  
.backBtn:hover {
    color: #385170;
}