.oops {
  font-weight: 900;
  font-size: 15rem;
  letter-spacing: 5px;

  background-image: linear-gradient(45deg, #7078ad, #a4c3b2, #7078ad);
  background-clip: text;
  color: transparent;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  min-height: 81.8vh;
  align-items: center;
  align-content: center;
  margin: 5px;
}

.text h1 {
  font-size: 3.5rem;
  font-weight: bold;
  color: #6b9080;
}

.description {
  padding-top: 40px;
  padding-right: 25px;
  font-size: 1.5rem;
  font-weight: 500;
  color: #a6a9b6;
}

.button {
  width: 250px;
  height: 50px;
  margin-top: 10px;
  margin-bottom: 15px;
}

@media (max-width: 750px) {
  .oops {
    font-size: 7rem;
  }
  .container .container_all .text {
    width: 100%;
  }
  .container {
    padding: 0;
  }
  .text {
    text-align: justify;
  }
  .text h1 {
    font-size: 2.5rem;
    text-align: center;
  }
  .description {
    padding: 0;
    padding-top: 30px;
    font-size: 1.1rem;
    word-spacing: 3px;
  }
  .button {
    width: 165px;
    height: 40px;
  }
}
