.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 80vh;
  align-items: center;
}

.feedback {
  padding: 15px 10px;
  display: flex;
  flex-direction: column;
}

.img {
  align-self: center;
  margin-bottom: 10px;
}

.errorMsg {
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 1.5rem;
  font-weight: 600;
  color: #a9abb4;
}

.backBtn {
  color: #fff;
  padding: 12px 20px;
  margin-top: 4px;
  width: 30%;
  align-self: center;
  border: none;
  border-radius: 6px;
  background: #749f82;
  box-shadow: 4px 10px 20px #bbbb;
  font-weight: 500;
}

.backBtn:hover {
  color: #749f82;
  background: transparent;
  border: 1.5px solid #749f82;
  padding: 10.5px 20px;
}

@media (max-width: 750px) {
  .container {
    width: 100%;
  }
  .img {
    width: 100%;
    height: 300px;
  }
  .errorMsg {
    font-size: 1rem;
    text-align: center;
    line-height: 1.4rem;
  }

  .backBtn {
    width: 95%;
  }
}
