
.itemTitle {
    width: 75%;
    white-space: nowrap;
    color: #2a528a; 
  }
  
.itemTitle h6 {
    text-overflow: ellipsis;
    overflow: hidden;
  }

.viewDetails{
  display: flex;
  flex-direction: column;
}

.detailsContainer{
  overflow-y: scroll;
  max-height: 350px;
  width: 500px;
  box-shadow: 0 2px 20px #dddddd;
  padding: 20px;
  text-align: center;
  margin: 40px;
}

.details{
  margin: 20px;
  justify-content: flex-start;
  border-bottom: solid 1px #ccc;
}

.price{
  font-size: 15px;
  color: #959595;
}


.pandq{
  color: #959595;
  margin-top: -60px;
  margin-right: -21px;
  margin-bottom: 20px;
} 

.detailsImage{
  object-fit: scale-down;
}

.buttonInfo{
  border: none;
  color: rgb(54, 54, 54);
  background: none;
}

.buttonInfo:hover{
  text-shadow: 0 0 5px #d8d8d8,
              0 0 10px #d8d8d8,
              0 0 25px #d8d8d8,
              0 0 50px #d8d8d8
}

.imageAndText{
  display: flex;
  flex-direction: row-reverse;
}

.detailsContainer::-webkit-scrollbar { 
  display: none; 
  }