.containerInfo {
  display: flex;
  justify-content: space-around;
}

.containerPayment {
  margin: 20px;
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
}

.total {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 100px;
}

.totalPrice {
  margin-bottom: 50px;
}

.button {
  width: 250px;
  height: 50px;
}
