.items {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(12rem, 18rem));
  gap: 2.5rem;
  justify-content: center;
  margin: 15px 12px;
}

.item {
  background-color: #fff;
  padding: 20px;
  font-size: 20px;
  width: 300px;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 10px;
  box-shadow: 0 2px 20px #dddddd;
}

.item:hover {
  transform: scale(1.02);
}

.item h3 {
  text-overflow: ellipsis;
  font-size: 19px;
  margin: 5px 0;
  white-space: nowrap;
}

.title {
  width: 100%;
  white-space: nowrap;
}

.title h3 {
  text-overflow: ellipsis;
  overflow: hidden;
}

.image {
  height: 13rem;
  width: 100%;
  object-fit: scale-down;
  background: #fff;
}

.products_filter_container {
  display: grid;
  grid-template-columns: 0.25fr 1.75fr;
  grid-template-rows: 2fr;
  gap: 0px 0px;
  grid-template-areas: "filter_sorter items";
}

.page {
  padding: 40px;
  display: flex;
  box-shadow: 0 0 10px #bbbb;
  transform: scale(0);
  animation: scale 0.3s ease forwards;
  margin: 20px 30px;
  background: #fff;
}

.detailsImg {
  object-fit: scale-down;
}

.cartImg {
  object-fit: scale-down;
}

.info {
  display: flex;
  flex-direction: column;
  padding: 0 30px;
  gap: 20px;
}

.price {
  font-size: 28px;
  margin: 10px 0;
  font-size: 2rem;
  font-weight: bold;
  color: #7895b2;
}

.listItem {
  display: flex;
  gap: 10px;
  border-bottom: solid 1px #ccc;
  padding: 10px 0;
}

.content {
  white-space: nowrap;
  width: 190px;
}

.detailContent {
  display: flex;
  justify-content: space-between;
}

.button {
  background-color: transparent;
  color: #223fff;
  border: none;
}

.listItem h3 {
  text-overflow: ellipsis;
  overflow: hidden;
  margin: 5px 0;
}
.buttons {
  display: flex;
  flex-direction: column;
}

.text h1 {
  font-size: 2rem;
  font-weight: bold;
  color: #6b9080;
}

.description {
  padding-right: 25px;
  font-size: 1.5rem;
  font-weight: 500;
  color: #a6a9b6;
}

.addTocart {
  width: 30%;
  padding: 15px 0;
}

.backBtn {
  font-size: 25px;
  margin-top: 10px;
  margin-left: 25px;
  cursor: pointer;
}

.backBtn:hover {
  color: #385170;
}

.tools {
  padding: 25px 0;
  display: flex;
  width: 100%;
}

.searchBar {
  justify-content: flex-start;
  display: flex;
  width: 300px;
  padding: 0 28px;
}

.toolsBtn {
  justify-content: space-evenly;
  gap: 8px;
  width: 400px;
  display: flex;
  flex-direction: row;
  margin: 0 220px;
}

.toolsBtn button {
  display: flex;
  padding: 8px 20px;
  background: #fff;
  font-weight: 500;
  color: #92ba92;
  border-radius: 5px;
  border: 1px solid #92ba92;
}

.icon {
  margin: 6px;
  margin-left: 15px;
  margin-right: 5px;
  font-size: 16px;
  color: #2a528a;
  background: transparent;
}

.toolsBtn button:hover {
  color: #ffff;
  background: #a4c3b2;
}

@keyframes scale {
  from {
    transform: scale(0);
  }

  to {
    transform: scale(1);
  }
}

@media (max-width: 750px) {
  .tools {
    flex-flow: row wrap;
    justify-content: center;
  }

  .toolsBtn {
    align-items: center;
    margin: 20px auto;
  }

  .item {
    width: 100%;
  }

  .page {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 5px;
  }
  .detailsImg {
    width: 300px;
    height: 300px;
    object-fit: scale-down;
  }

  .info {
    margin: 10px 0;
    padding: 0 10px;
  }

  .text {
    width: 100%;
    padding-top: 6px;
  }

  .text h1 {
    font-size: 1.7rem;
    text-align: justify;
    letter-spacing: 1px;
    word-spacing: 1px;
  }

  .description {
    text-align: justify;
    padding: 0;
  }

  .addTocart {
    width: 100%;
  }
}
