.productsContainer {
    display: flex;
    justify-content: center;
  }
  
.productDetail {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 40px;
}
  
.all {
    width: 500px;
    box-shadow: 0 2px 20px #dddddd;
    padding: 20px;
    text-align: center;
    margin: 40px;
}
  
.detail {
    width: 600px;
    box-shadow: 0 2px 20px #dddddd;
    padding: 20px;
    text-align: center;
    margin: 30px;
}

.title {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px;
}