.container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  min-height: 80vh;
}

@media (max-width: 750px) {
  .container .container_all .text {
    width: 100%;
  }
  .container {
    padding: 0;
  }
  .text {
    text-align: justify;
  }
  .text h1 {
    font-size: 2.5rem;
    text-align: center;
  }
  .description {
    padding: 0;
    padding-top: 30px;
    font-size: 1.1rem;
    word-spacing: 3px;
  }
}
