.shoppingCart {
    position: fixed;
    top: 0;
    right: 0;
    background-color: #fff;
    width: 350px;
    height: 100vh;
    padding: 25px;
    box-sizing: border-box;
    box-shadow: 0 0 10px #bbbb;
    display: flex;
    flex-direction: column;
  }

  .empty{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  