.mainTitle{
    justify-content: center;
}

.detailsCard{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 550px;
    box-shadow: 0 2px 20px #dddddd;
    padding: 60px;
    text-align: center;
    margin: 30px;
    border-style: ridge;
    border-color: rgb(233, 238, 243);
    margin-bottom: 150px;
}

.general{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 30px;
}

.divider{
    display: flex;
    align-items: center;
    margin-bottom: 100px;
    color: #292929; 
    border-bottom: solid 1px #ccc;
}
