.mainTitle{
    justify-content: center;
}

.detailsCard{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 550px;
    box-shadow: 0 2px 20px #dddddd;
    padding: 60px;
    text-align: center;
    margin: 30px;
    border-style: ridge;
    border-color: rgb(233, 238, 243);

}

.purchaseOrders{
    width: 500px;
    box-shadow: 0 2px 20px #dddddd;
    padding: 20px;
    text-align: center;
    margin: 40px;
}

.general{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 30px;
}

